openapi: 3.0.3
info:
  title: Aillium Core API
  version: 0.2.0
  description: Canonical API contract for aillium-core control-plane contracts.
servers:
  - url: https://api.aillium.io
tags:
  - name: core
    description: Aillium Core control-plane contracts.
  - name: deprecated-worker
    description: Deprecated legacy worker surfaces retained temporarily for compatibility.
paths:
  /tasks:
    post:
      tags: [core]
      summary: Create a task
      operationId: createTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreate'
      responses:
        '201':
          description: Task created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
  /tasks/{task_id}:
    get:
      tags: [core]
      summary: Get a task
      operationId: getTask
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          description: Task not found
  /tasks/{task_id}/approve:
    post:
      tags: [core]
      summary: Approve a task
      operationId: approveTask
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Task approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          description: Task not found
  /tasks/{task_id}/cancel:
    post:
      tags: [core]
      summary: Cancel a task
      operationId: cancelTask
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Task cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          description: Task not found
  /tasks/{task_id}/events:
    get:
      tags: [core]
      summary: List task events
      operationId: listTaskEvents
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Task events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StepUpdate'
        '404':
          description: Task not found
  /workers/{worker_id}/poll:
    post:
      tags: [deprecated-worker]
      deprecated: true
      summary: Deprecated worker poll
      operationId: workerPoll
      parameters:
        - name: worker_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeprecatedWorkerPollRequest'
      responses:
        '200':
          description: Poll result
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
  /workers/{worker_id}/results:
    post:
      tags: [deprecated-worker]
      deprecated: true
      summary: Deprecated worker result callback
      operationId: workerResult
      parameters:
        - name: worker_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeprecatedWorkerPollResult'
      responses:
        '202':
          description: Accepted
components:
  schemas:
    BudgetCaps:
      type: object
      required:
        - max_usd
        - max_tokens
        - enforcement
      properties:
        max_usd:
          type: number
        max_tokens:
          type: number
          nullable: true
        enforcement:
          type: string
          enum: [HARD, SOFT]
      additionalProperties: false
    RiskLevel:
      type: string
      enum: [LOW, MEDIUM, HIGH, CRITICAL]
    TaskState:
      type: string
      enum: [PENDING, NEEDS_APPROVAL, RUNNING, COMPLETED, FAILED, CANCELLED]
    TaskCreate:
      type: object
      required:
        - tenant_id
        - device_id
        - budget_caps
        - allowed_tools
        - risk_level
      properties:
        tenant_id:
          type: string
        device_id:
          type: string
        budget_caps:
          $ref: '#/components/schemas/BudgetCaps'
        allowed_tools:
          type: array
          items:
            type: string
        risk_level:
          $ref: '#/components/schemas/RiskLevel'
        trace_id:
          type: string
      additionalProperties: false
    Task:
      type: object
      required:
        - task_id
        - tenant_id
        - device_id
        - budget_caps
        - allowed_tools
        - risk_level
        - state
      properties:
        task_id:
          type: string
        tenant_id:
          type: string
        device_id:
          type: string
        budget_caps:
          $ref: '#/components/schemas/BudgetCaps'
        allowed_tools:
          type: array
          items:
            type: string
        risk_level:
          $ref: '#/components/schemas/RiskLevel'
        state:
          $ref: '#/components/schemas/TaskState'
        trace_id:
          type: string
      additionalProperties: false
    StepUpdate:
      type: object
      required:
        - task_id
        - step_index
        - description
        - timestamp
        - status
      properties:
        task_id:
          type: string
        trace_id:
          type: string
        step_index:
          type: integer
          format: int32
          minimum: 0
        description:
          type: string
        timestamp:
          type: string
          format: date-time
        status:
          type: string
          enum: [INFO, WARNING, ERROR]
      additionalProperties: false
    DeprecatedWorkerPollRequest:
      type: object
      deprecated: true
      required: [worker_id, tenant_id, trace_id]
      properties:
        worker_id:
          type: string
          deprecated: true
        tenant_id:
          type: string
          deprecated: true
        trace_id:
          type: string
          deprecated: true
        max_items:
          type: integer
          minimum: 1
          deprecated: true
      additionalProperties: false
    DeprecatedWorkerPollResult:
      type: object
      deprecated: true
      required: [task_id, worker_id, tenant_id, trace_id, status]
      properties:
        task_id:
          type: string
          deprecated: true
        worker_id:
          type: string
          deprecated: true
        tenant_id:
          type: string
          deprecated: true
        trace_id:
          type: string
          deprecated: true
        status:
          type: string
          enum: [succeeded, failed, cancelled, timed_out]
          deprecated: true
        output:
          type: object
          deprecated: true
        error:
          type: object
          deprecated: true
          properties:
            code:
              type: string
            message:
              type: string
          required: [code, message]
          additionalProperties: false
      additionalProperties: false
